:root{
    --FontSizeDefault:10px;
    --LiColor: #0000ff;
}

/*Initialisation*/
* {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;   
}

html{
    font-size: var(--FontSizeDefault);
}

body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
 
h1{
    font-size: 5rem;
}

header{
    padding: 3rem;
}

header ul{
    padding: 3rem;
    font-size: 3rem;
    color: var(--LiColor);
    line-height: 6rem;
}

header a{
    text-decoration: none;
    font-size: 3rem;
    color: var(--LiColor);
}

