/*Declaration de variables*/
:root{
    --BlueColor:#2084C2;
    --YellowColor:#F8D61D;
    --GreenColor:#0E7C59;

    --FontSizeDefault:10px;
}

/*Initialisation*/
* {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;   
}

html{
    font-size: var(--FontSizeDefault);
}

body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

/*traitement du drapeau du rwanda*/
.cadres{
    background: brown;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    animation: faireflotter 2s ease-in-out infinite;
}

@keyframes faireflotter {
    0%{transform: rotate(0deg) translateY(0);
    }
    50%{
        transform: rotate(0.5deg) translateY(-1rem);
    }
    100%{
        transform: rotate(0deg) translateY(0);
    }   
}

.cadres__c{
    width: 100%;
    height: 40rem;
}

.un{
    background: repeating-conic-gradient(#199aeb 0 25%, var(--BlueColor) 25% 50%);
    background-size: 0.3rem 0.2rem;
    height: 80rem;
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: flex-end;
    padding-right: 6rem;
}

.un img{
    width: 25rem;
}

.deux{
    background: repeating-conic-gradient(#dac239 0 25%, var(--YellowColor) 25% 50%);
    background-size: 0.3rem 0.2rem;
}

.trois{
    background: repeating-conic-gradient(#1db182 0 25%, var(--GreenColor) 25% 50%);
    background-size: 0.3rem 0.2rem;
}
